<h1>HOME PAGE</h1>

{{#each users}}

<h3>{{this.username}}</h3>

{{#if this.books}}
<h5>{{this.books.[0].title}}</h5>
<img src="{{this.books.[0].cover}}" alt="Cover">
{{/if}}

<h5>{{this.movies.[0].title}}</h5>
<img src= "{{this.movies.[0].cover}}" alt="{{this.title}}">

<a href="/home/{{this._id}}">Visit the profile</a>
<hr>
{{/each}}

