<h1>My Profile</h1>

<p>{{username}}</p>

{{#each books}}

<h5>{{this.title}}</h5>
<img src="{{this.cover}}" alt="{{this.title}}">
<a href="/home/user/{{this._id}}/edit">Edit Book</a>

<form action="/home/user/{{this._id}}/delete" method="post">
<button type="submit">Delete</button>
</form>
<hr>
{{/each}}

<a href="/home/user/edit">Edit Profile</a>
{{!-- 
{{#each }}
<a href="/home/user/{{this.books.1._id}}/edit">Modify books info</a>
{{/each}} --}}