<h1>My Profile</h1>

<p>{{username}}</p>


<h2>My favourite books</h2>

<img src="{{cover}}" alt="">
<h3>{{title}}</h3>
<h4>{{author}}</h4>


<a href="/home/user/edit">Edit Profile</a>
{{!-- 
{{#each }}
<a href="/home/user/{{this.books.1._id}}/edit">Modify books info</a>
{{/each}} --}}