<h1>Book Details</h1>

<h3>{{title}}</h3>
<img src="{{imageLinks.thumbnail}}" alt="{{title}}">


<p>Author(s): {{authors}}</p>
<p>Director: {{Director}}</p>
<p>Publisher: {{publisher}}</p>
<p>Published Date: {{publishedDate}}</p>
<p>Description: {{description}}</p>
<p>Language: {{language}}</p>
<p>Page count: {{pageCount}}</p>


<a href="/home/user">Back</a>