<h2>Watchlist</h2>

<h3>Books</h3>
{{#each booksWatchlist}}
<h3>{{this.title}}</h3>
<p>{{this.author}}</p>
<img src="{{this.cover}}" alt="{{this.title}}">

<form action="/home/user/{{bookId}}" method="get">
<button type="submit">Details</button>
</form>


<form action="/home/user/{{this._id}}/deletebookswatchlist" method="post">
<button type="submit">Delete</button>
</form>
{{/each}}

<h3>Movies</h3>
{{#each moviesWatchlist}}
<h3>{{this.title}}</h3>
<p>{{this.type}}</p>
<img src="{{this.cover}}" alt="{{this.title}}">

<form action="/home/user/{{this.imdbID}}" method="post">
<button type="submit">Details</button>
</form>
<form action="/home/user/{{this._id}}/deletemovieswatchlist" method="post">
<button type="submit">Delete</button>
</form>

{{/each}}


